<div class = "center jumbotron" id = "background-results">
  <h2>Teemo Statistics for <%=@results.summoner%></h2>
  <h3>Teemo couldn't be found?!</h3>
</div>

<div id = "noresults-banner"></div>

<h4 class = "center h4"> What a goody two-shoes!</h4>
