<div class = "quovolver">
  <blockquote class = "quote">
    <p>"Teemo rides a thin line between chipper compatriot and unrepentant killer, but there's no one else I'd rather have as a friend."</p>
    <small>Tristana</small>
  </blockquote>

  <blockquote class = "quote">
    <p>"His record of success in defending Bandle City from infiltrators easily makes him one of the most dangerous yordles alive..."</p>
  </blockquote>

  <blockquote class = "quote">
    <p>"His signature weapon - a blowgun - uses a rare ajunta poison he personally gathers from the jungles of Kumungu."  </p>
  </blockquote>

  <blockquote class = "quote">
    <p>"Despite his genuinely warm personality, something switches off inside Teemo's mind during combat so that the lives he must end while on patrol do not burden him."</p>
  </blockquote>

  <blockquote class = "quote">
    <p>"...I managed to reach Diamond 3 on EUW by ONLY playing Teemo, I have mastered the little rat and can play him quite decently in any lane and role."</p>
    <small>Summoner<%=link_to ' mc Chicken Wings', 'search?utf8=✓&summoner=mc+Chicken+Wings&region=euw'%></small>
  </blockquote>

  <blockquote class = "quote">
    <p>If damage was officially quantified through units of Teemo deaths, then there can be only one conclusion: You can never have enough damage.</p>
    <small><a href = 'http://forums.na.leagueoflegends.com/board/showthread.php?p=42220843#post42220843'>Riot Zephyreal</a>, Player Support Specialist</small>
  </blockquote>

  <blockquote class = "quote">
    <p>"There's no I in Teem..o."</p>
    <small><a href = 'http://forums.na.leagueoflegends.com/board/showthread.php?p=31167117#31167117'>Riot Morello</a>, Lead Content Designer</small>
  </blockquote>

  <blockquote class = "quote">
    <p><em>Noxious Trap</em></p>
    <p>"ACTIVE: Teemo places a mushroom trap on the ground, which stealths and arms after 1 second.
      If an enemy comes within 60 range of the trap, it will detonate, slowing and dealing damage over 4 seconds to nearby enemies within 200 radius."</p>
  </blockquote>

  <blockquote class = "quote">
    <p><em>Blinding Dart</em></p>
    <p>"ACTIVE: Teemo shoots a dart at an enemy, dealing magic damage and <strong>blinding</strong> them for a few seconds."</p>
  </blockquote>

  <blockquote class = "quote">
    <p>"Whenever I get first ban in any draft, I auto-ban Teemo. I don't even care if my own team wanted to pick him, it's just not worth it.</p>
    <small>Summoner<%=link_to ' DeathKila', about_path%>, Riven main</small>
  </blockquote>


</div>