<% provide(:title, 'About') %>

<h2>About (Me) </h2>
<div class = "container">
  <p class ="lead"> I'm a semi-ambitious, yet untalented undergraduate aerospace engineer from a Big Name University Y.</p>
  <p> (Pokemon reference, anyone?) League of Teemo is pretty much my demo app. It serves to try out my new tools and Riot's official API. Be gentle.
    There's nothing really here yet, and I'm bad at web design, but things should brighten up soon enough!</p>
  <p>If you're reading this, you might be wondering why I only have support for NA and EU servers. Indeed, it's quite trivial to add support for other servers. But
  that would require making new buttons and rearranging layouts and I only just picked up CSS and so basically I'm lazy and if I might get to it if there's enough
  demand (unlikely).</p>
  <p> This was written with the Ruby on Rails development framework. I picked it up for the purposes of this project, so when things break, it's likely
  they won't be handled elegantly. API rate limiting has NOT been implemented. I don't really know how to do it. Try not to spam requests
    and prevent others from doing anything. Bear with me!</p>
  <p>Special thanks to the people behind <a href="https://github.com/PeterBorah/vigor">Vigor</a> for their awesome Ruby wrapper for the API. It's
  really great stuff, and I would have a lot more trouble if it weren't for their great open-source organization and documentation.</p>
</div>