<% provide(:title, 'About') %>

<h2>About</h2>
<div class = "container">
  <p class ="lead"> League of Teemo is my first webapp! <p></p>
  <p>It serves to try out my new tools and Riot's offical API. Be gentle. There's nothing really here yet, and I'm bad at web design, but things
    should brighten up soon enough!</p>
  <p>This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.</p>
</div>