<% provide(:title, 'Contact') %>
<h2>Contact</h2>
<div class = "container">
<p class = "lead">Not sure why you would want to contact me...</p>
<p>One day I'll make a new email for the purposes of contact information. In the meantime you can reddit PM me at /u/aKwin.</p>
</div>