<% provide(:title, 'Teemo!') %>
  <div class = "container">
    <%= render :partial =>"main/noresults" if @results.teemo_count_total == 0 %>
    <%= render :partial => "main/results" if @results.teemo_count_total > 0%>
  </div>

