// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#regions  {
  display: inline;
  float: right;
  margin-left: -8%;
  margin-top: -3.5%;

}
#header  {
  margin-bottom: 3%;
}
#submit-button {
  display: block;
  margin-top: 1%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 2%;
}
#summoner {
  width: 84%;
  height:100%;
  margin-left:0%
}

#bar  {
  margin-right:auto;
  margin-left:auto;
}