// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#regions  {
  display: inline;
  float: right;
  margin-left: -7%;
  margin-top: 0.5%;

}
#submit-button {
  display: block;
  margin-top: -1%;
}
#summoner {
  width: 75%;
  height:125%;
}

