@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}
section {
  overflow: auto;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
.navbar .nav > li{
  line-height: 25px;
}
.navbar .container {

}

#logo {
  float:left;
  margin-right: 12px;
  font-size: 1.7em;
  padding-top: 12px;
  text-transform: none;
  font-weight: bold;
  color: #ffffff;
}

#logo:hover {
  text-decoration:none;
}

/* typography */


body { padding-top: 100px; }

